.header
  background: url(../images/landscape.jpg) no-repeat center center
  background-size: cover
  box-shadow: $shadow-box
  height: 275px
  margin: 0 auto 0 auto
  max-width: 1920px
  position: relative
  text-align: center
  width: 100%

.logo
  fill: #fff
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,.9))
  margin-top: 30px
  max-width: 500px

.subtitle
  color: #fff
  font-family: $serif
  font-size: 13pt
  padding: 20px 0 20px 0
  text-shadow: #222 2px 2px 2px
  width: 100%