.index
  .contact
    background-color: #eee
    box-shadow: $shadow-box
    font-family: $sans
    list-style: none
    margin: 40px auto 40px auto
    max-width: 350px
    padding: 20px

    li
      margin: 5px