body
  background-color: #111
  margin: 0

.header
  background: url(/images/bkg.jpg) no-repeat center center
  background-size: cover
  width: 100%
  height: 500px
  margin: 0
  text-align: center

.logo
  fill: white
  max-width: 500px
  margin-top: 30px
