@import magnific-popup

@import variables
@import header
@import menu
@import home
@import gigs
@import videos
@import pictures

body
  background-color: #fff
  margin: 0

.content
  max-width: 900px
  margin: 60px auto 60px auto
  font-family: $serif
